* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f2f2f2;
}

.nav_presentacion {
  color: #f2f2f2;
  display: flex;
  align-items: center;
  background-color: #317f91;
  height: 60px;
  width: 100%;
}

.nav_presentacion_izq {
  display: flex;
  align-items: center;
}

.nav_presentacion_izq img {
  width: 50px;
  margin-right: 10px;
}

.nav_presentacion_izq span {
  font-size: 22px;
}

/* .contenedor_presentacion {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro_login {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: 4px 1px 20px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 1px 20px -4px rgba(0, 0, 0, 0.35);
  box-shadow: 4px 1px 20px -4px rgba(0, 0, 0, 0.35);
} */

/* .arrow_send {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .btn_enviar_login {
  display: flex;
} */

/* .btn_enviar_login span {
  margin-right: 15px;
} */

/* .recuperar_pass_registro {
  display: flex;
  justify-content: space-between;
} */

/* .recuperar_pass_registro span {
  color: grey;
} */

/* .btn_recuperar_pass {
  border-bottom: 1px solid #317f91;
  color: #317f91;
} */

.linea_divisoria {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
